fastapi
pydantic
uvicorn
requests
langchain-google-genai
python-dotenv==1.0.1
langchain-google-cloud-sql-pg
langchain-google-vertexai
langchain_community
google-cloud-storage
langchain
langchain-core
streamlit
streamlit-lottie
sqlalchemy>=2.0.0  # Requis par langchain-google-cloud-sql-pg
asyncio  # Pour les tâches asynchrones
